.footer {
  & {
    text-align: center;
    display: flex;
    justify-content: center;
    background: var(--navy-blue);
  }
  &-heading {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 72px;
    justify-content: center;
    align-items: center;
  }
  &-logo {
    display: inline-block;
    width: 116px;
    height: 24px;
    padding-bottom: 16px;
  }
  &-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
    max-width: 268px;
    text-align: start;
  }
  &-social {
    & {
      padding-bottom: 72px;
    }

    &-heading {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: var(--white);
      padding-bottom: 16px;
    }

    &-logos-wrapper {
      gap: 16px;
      display: flex;
      justify-content: center;
    }
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      height: 40px;
      width: 40px;
      background-color: var(--iris);
    }
  }

  &-subscribe {
    &-heading {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: var(--white);
      padding-bottom: 16px;
    }

    &-email {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
      letter-spacing: 0.04em;
      color: var(--white);
      width: 264px;
      background: transparent;
      border: 1px solid var(--white);
      border-radius: 4px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      opacity: 0.3;
      padding: 8px 16px;
      margin-bottom: 16px;
    }
    &-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 96px;
    }
    &-button {
      border-radius: 4px;
      padding: 8px 24px;
      width: 165px;
      height: 40px;
      background: var(--iris);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &-text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-align: center;
        color: var(--white);
      }
      &-image {
        height: 24px;
        width: 24px;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      padding-left: 92px;
      text-align: start;
      &-heading {
        justify-content: right;
        align-items: normal;
      }

      &-social {
        position: relative;
        top: -20px;
        &-logos-wrapper {
          padding-top: 16px;
          justify-content: start;
        }
      }

      &-subscribe {
        &-wrapper {
          gap: 24px;
          justify-content: start;
          flex-direction: row;
          align-items: baseline;
        }

        &-button {
          &-image {
            padding-left: 16px;
          }
        }
      }

      &-wrapper {
        display: flex;
        gap: 24px;
        align-items: baseline;
      }
    }
  }
}
